.product-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    color: #333;
    flex-wrap: wrap;
}

.product-details img {
    max-width: 100%;
    object-fit: cover;
}

.product-details .image-small {
    width: 80px;
    height: 80px;
}

.product-infos {
    flex: 1;
    max-width: 600px;
}

.product-infos h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-infos .price {
    font-size: 28px;
    color: #9893fb;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-infos .description {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.size-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .size-options button {
    padding: 10px 16px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
  }

  .size-options button:hover {
  border-color: #333;
  background-color: #eee;
}

/* Botón Añadir al carrito */
.add-to-cart {
  padding: 15px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ;
}

.add-to-cart:hover {
    background-color: #333;
}

.product-infos .note {
    font-size: 14px;
    color: #555;
    margin-top: 20px;
    line-height: 1.4;
}

/* Diseño responsive */
@media (max-width: 1024px) {
   
  .product-infos {
        max-width: 90%;
    }
}

